*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rajdhani' , sans-serif ;
    background-color: #fff;
}

.espacio{
    padding: 20px;
}

/* ===== Scroll-Bar ===== */

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: #000;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #c5c5c5;
}

/* ===== Body ===== */

.content{
    padding: 20px;
}

/* ===== Navegation ===== */

.menu-btn{
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 2;
    display: none;
}

.menu-btn i{
    color: #494949;
    font-size: 300%;
}

.nav-main{
    margin-top: 5px;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    padding: 10px 0;
    justify-content: center;
}

.nav-menu{
    justify-content: center;
}

.nav-brand{
    width: 50px;
}

/* ===== nav bar left ===== */

.nav-main ul{
    display: flex;
    list-style-type: none;
}

.nav-main ul li{
    padding: 15px;
}

.nav-main ul li a{
    padding: 2px;
    color: #000;
    text-decoration: none;
    font-family: 'Shadows Into Light' , sans-serif ;
    text-shadow: 1px 2px 2px #404040 ;
    font-size: 150%;
}

.nav-main ul li a:hover{
    background-color: #dfdfdf ;
    border-radius: 10px;
}


.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

/*===== responsive de menu de navegacion =====*/
@media (max-width: 500px) {
    .cards-banner-one .content,
    .cards-banner-two .content {
      width: 100%;
      padding: 60px 20px;
    }
}




hr{
    margin: 15px 0;
}

/* ===== CArds para pc prearmado ===== */

.h2-card{
    text-align: center;
    padding-top: 20px;
    font-family: 'Shadows Into Light' , sans-serif ;
    color: #000;
    font-size: 160% ;
    font-weight: 400;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.card{
    display: flex;
    flex-direction: row;
    max-width: 60%;
    height: 60%;
    border-radius: 5px;
    overflow: hidden;
}

.card_1, .card_2, .card_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.button-1, .button-2, .button-3{
    border: 2px solid #fff ;
}

.card_1{
    background: url(../assets/skewed.jpg) no-repeat center center/cover ;
}

.card_2{
    background: url(../assets/fondo-blanco.jpg) no-repeat center center/cover;
}

.card_3{
    background: url(../assets/skewed.jpg) no-repeat center center/cover;
}

.title{
    color: #fff;
    font-family: 'Shadows Into Light' , sans-serif ;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
    text-shadow: 1px 3px 2px #7c7c7c;
}

.title-2{
    color: #000;
    font-family: 'Shadows Into Light' , sans-serif ;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
    text-shadow: 1px 2px 3px #000 ;
}

.card_num-subcontainer p {
    color: #fff;
    font-family: 'Rajdhani' , sans-serif ;
    font-size: 13px;
    line-height: 25px;
    word-spacing: 1px;
    margin-bottom: 50px;
    text-align: justify;
}

.card_num-subcontainer-2 p {
    color: #000;
    font-family: 'Rajdhani' , sans-serif ;
    font-size: 13px;
    line-height: 25px;
    word-spacing: 1px;
    margin-bottom: 50px;
    text-align: justify;
}

/* ===== botones ===== */

.card_num-subcontainer a {text-decoration: none;}
.card_num-subcontainer-2 a {text-decoration: none;}

.card_num-subcontainer h3 {
    background-color: #fff;
    font-family: 'Shadows Into Light' , sans-serif ;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    width: 50%;
    border-radius: 35px;
    padding: 5px 0;
    margin: auto;
}

.card_num-subcontainer-2 h3 {
    background-color: #000;
    font-family: 'Shadows Into Light' , sans-serif ;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    width: 50%;
    border-radius: 35px;
    padding: 5px 0;
    margin: auto;
    border-color: #000;
}

.button-1{color: #000;}
.button-1:hover{
    cursor: pointer;
    background-color:transparent;
    color: #fff;
}

.button-2{color: #fff;}
.button-2:hover{
    cursor: pointer;
    background-color: transparent;
    color: #000;
}

.button-3{color: #000;}
.button-3:hover{
    cursor: pointer;
    background-color:transparent;
    color: #fff;
}

/* ===== Estilos responsive ===== */

@media (max-width: 375px) {
    main {
        height: 100%;
    }

    .card_1, .card_2, .card_3{
        background-image: url(../assets/skewed.jpg) no-repeat center center/cover;
    }
    .card {
        flex-direction: column;
        max-width: 80%;
        margin: 25px 0;
    }
    .card_1, .card_2, .card_3 {
        padding: 30px 10PX;
    }
    .title {
        margin-bottom: 20px;
    }
    .card_num-subcontainer p {
        margin-bottom: 30px;
        line-height: 20px;
    }.card_num-subcontainer h3 {
        width: 70%;
        margin: 0;
    }
    .card_num-subcontainer-2 h3{
        width: 70%;
        margin: 0;
    }
}


@media (max-width: 450px) {
    main {
        height: 100%;
    }
    .card {
        flex-direction: column;
        max-width: 80%;
        margin: 25px 0;
    }
    .card_1, .card_2, .card_3{
        background-image: url(../assets/skewed.jpg) no-repeat center center/cover;
    }
    .card_1, .card_2, .card_3 {
        padding: 30px 40px;
    }
    .title {
        margin-bottom: 20px;
    }
    .card_num-subcontainer p {
        margin-bottom: 30px;
        line-height: 20px;
    }.card_num-subcontainer h3 {
        width: 70%;
        margin: 0;
    }
    .card_num-subcontainer-2 h3{
        width: 70%;
        margin: 0;
    }
}


/* ===== Banners ===== */
/*=====cards banner one=====*/

.cards-banner-one{
    width: 100%;
    height: 350px;
    background: url(../assets/skewed.jpg) no-repeat center center/cover ;
    margin-bottom: 40px;
    border-radius: 5px;
}

.cards-banner-one .content{
    width: 50%;
    padding: 90px 0 0 30px;
    color: #fff;
}

.cards-banner-one h2{
    font-family: 'Shadows Into Light' , sans-serif ;
    margin-bottom: 10px;
}

.cards-banner-one p {
    margin: 10px 0 20px 0;
}

.cards-banner-one a{
    text-decoration: none;
    color: #fff;
}

.cards-banner-one a:hover{
    cursor: pointer;
    color: #7c7c7c;
}

.cards-banner-two{
    width: 100%;
    height: 350px;
    background: url(../assets/skewed.jpg) no-repeat center center/cover ;
    margin-bottom: 40px;
    border-radius: 5px;
}

.cards-banner-two .content{
    width: 50%;
    padding: 90px 0 0 30px;
    color: #fff;
}

.cards-banner-two h2{
    font-family: 'Shadows Into Light' , sans-serif ;
    margin-bottom: 10px;
}

.cards-banner-two p {
    margin: 10px 0 20px 0;
}

.cards-banner-two a{
    text-decoration: none;
    color: #fff;
}

.cards-banner-two a:hover{
    cursor: pointer;
    color: #7c7c7c;
}

@media (max-width: 500px) {
    .cards-banner-one .content,
    .cards-banner-two .content {
      width: 100%;
      padding: 60px 20px;
    }
}

@media (max-width: 500px) {
    .menu-btn {
      display: block;
    }
  
    .menu-btn:hover {
      opacity: 0.5;
    }
  
    .nav-main ul.nav-menu {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: #8a8a8a;
      width: 50%;
      height: 120%;
      border-right: #ccc 1px solid;
      opacity: 0.9;
      padding: 30px;
      transform: translateX(-500px);
      transition: transform 0.5s ease-in-out;
    }
  
    .nav-main ul.nav-menu li {
      padding: 20px;
      border-bottom: #ccc solid 1px;
      font-size: 14px;
    }
    .nav-main ul.nav-menu li:last-child {
      border-bottom: 0;
    }
  
    .nav-main ul.nav-menu.show {
      transform: translateX(-20px);
    }
  
    .nav-main ul.nav-menu-right {
      margin-right: 50px;
    }
  
    .news-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .cards-banner-one .content,
    .cards-banner-two .content {
      width: 80%;
    }
  
    .footer-links .footer-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }


/* ===== Arma tu pc ahora ===== */

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-pc{
    background-color: #494949;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    overflow: hidden;
    max-width: 1080px;
    width: 1080px;
}

/* ===== carta izquierda ===== */

.card-left{
    display: flex;
    align-items: center;
}

.card-left-sub{
    margin:  60px;
}

.card-left-sub-body{
    color: #000;
}

.title-pc{
    font-weight: bold;
    font-size: 35px;
    font-family: 'Shadows Into Light' , sans-serif ;
}

span{
    color:#c5c5c5;
}

.card-left-sub-body p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    padding-right: 60px;
    margin-top: 30px;
}

.card-left-footer{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.footer-details{
    color: #fff;
}

.footer-details p{
    color: #c5c5c5;
    font-size: 12px;
    margin-right: 65px;
    margin-top: 7px;
}

.footer-details h2{
    font-family: 'Shadows Into Light' , sans-serif ;
    font-weight: 700;
}

/* ===== carta derecha =====*/

.card-right{
    background: url(../assets/skewed.jpg) no-repeat center center/cover ;
    height: 456px;
}

.card-right-image{
    background: url(../assets/skewed.jpg) no-repeat center center/cover ;
    height: 100%;
}

.card-left,.card-right{
    width: 50%;
}

/*===== Responsive cards pc ordena ya =====*/

@media screen and (max-width: 450px){
    .main {
        height: 100%;
    }

    .card-pc{
        flex-direction: column-reverse;
        min-width: 350;
        width: 350;
        margin: 20px;
    }

    /* Secci贸n Derecha */
    .card-right {
        background: url("../assets/skewed.jpg") no-repeat center center/cover ;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        height: 250px;
        width: 100%;
    }

    /* Secci贸n Izquierda */
    .card-left {
        width: 100%;
        height: 100%;
        padding: 15px;
    }

    .card-left-sub {
        margin: auto 0;
        text-align: center;
    }

    .title-pc {
        font-size: 26px;
        padding: 0 18px;
        font-weight: bold;
        margin-top: 20px;
    }

    .card-left-sub-body p {
        padding: 0 45px;
        font-size: 12px;

    }

    .card-left-footer{
        justify-content: center;
        flex-direction: column;
    }

    .footer-details{
        margin-top: 18px;
    }

    .footer-details h2 {
        margin-bottom: 5px;
    }

    .footer-details p {
        margin: 0;
    }
}

/*===== social =====*/

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.links a {
    margin: 0 30px;
    text-decoration: none;
}
  
.links a i {
    font-size: 3rem;
    color: #585858;
    cursor: pointer;
}

.social p{
    text-align: center;
    padding: 30px;
    font-family: 'Shadows Into Light' , sans-serif ;
    font-size: 170%;
    color: #404040;
}

/*===== cards de presupuesto de diseno (3) =====*/

.main-diseno{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-pc-diseno{
    background-color: #767676;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    overflow: hidden;
    max-width: 1080px;
    width: 1080px;
}

/* ===== carta izquierda ===== */

.card-left-diseno{
    display: flex;
    align-items: center;
}

.card-left-sub-diseno{
    margin:  60px;
}

.card-left-sub-body-diseno{
    color: #c5c5c5;
}

.title-pc-diseno{
    font-weight: bold;
    font-size: 35px;
    font-family: 'Shadows Into Light' , sans-serif ;
}

.span-diseno-1{
    color:#272727;
    font-family: 'Rajdhani' , sans-serif;
    font-weight: 400;
}

.card-left-sub-body-diseno p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    padding-right: 60px;
    margin-top: 30px;
}

.card-left-footer-diseno{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.footer-details-diseno{
    color: #fff;
}

.footer-details-diseno p{
    color: #c5c5c5;
    font-size: 12px;
    margin-right: 65px;
    margin-top: 7px;
}

.footer-details-diseno h2{
    font-family: 'Shadows Into Light' , sans-serif ;
    font-weight: 700;
}

.footer-details-diseno h3{
    background-color: #fff;
font-family: 'Shadows Into Light' , sans-serif ;
font-size: 15px;
font-weight: 300;
text-align: center;
width: 50%;
border-radius: 35px;
padding: 5px 0;
margin: auto;
}

.footer-details-diseno a{
    text-decoration: none;
}


/* ===== carta derecha =====*/

.card-right-diseno-1{
    background: url(../assets/skewed.jpg) no-repeat center center/cover ;
    height: 600px;
}

.card-right-image-diseno-1{
    background: url(../assets/skewed.jpg) no-repeat center center/cover ;
    height: 100%;
}

.card-left-diseno,.card-right-diseno-1{
    width: 50%;
}

/*===== Responsive cards pc ordena ya =====*/

@media screen and (max-width: 450px){
    .main-diseno {
        height: 100%;
    }

    .card-pc-diseno{
        flex-direction: column-reverse;
        min-width: 350;
        width: 350;
        margin: 20px;
    }

    .card-left-footer-diseno ul, li{
        list-style-type: none;
    }

    /* Secci贸n Derecha */
    .card-right-diseno-1{
        background: url("../assets/skewed.jpg")no-repeat center center/cover ;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        height: 250px;
        width: 100%;
    }

    /* Secci贸n Izquierda */
    .card-left-diseno{
        width: 100%;
        height: 100%;
        padding: 15px;
    }

    .card-left-sub-diseno {
        margin: auto 0;
        text-align: center;
    }

    .title-pc-diseno {
        font-size: 26px;
        padding: 0 18px;
        font-weight: bold;
        margin-top: 20px;
    }

    .card-left-sub-body-dieno p {
        padding: 0 45px;
        font-size: 12px;

    }

    .card-left-footer-diseno{
        justify-content: center;
        flex-direction: column;
    }

    .footer-details-diseno{
        margin-top: 18px;
    }

    .footer-details-diseno h2 {
        margin-bottom: 5px;
    }

    .footer-details-diseno p {
        margin: 0;
    }
}